/* 
  Name: Drei Flores
  ID Number: YOUR-ID-HERE
*/

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Libre Baskerville', serif;
}

.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  text-align: center;
}

.poster img {
  width: 50%;
  border: 5px solid white;
}

h1 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2.5rem;
}

p {
  font-size: 1rem;
}
